section {
  padding: 2rem 0;
  background-color: #f7f7f7;
}
.contact {
  font-family: 'Roboto', sans-serif;
  color: #676767;

}

.contact-h {
  font-weight: 400;
  margin-bottom: 1rem;
}

.contact-p {
  margin-bottom: .5rem;
}

.contact-card-offset {
  padding-bottom: 1.5rem;
}

agm-map {
  height: 400px;
}
