/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Spirax');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~font-awesome/css/font-awesome.css';

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background-color: #fff;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

.my-h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.reset-margin-padding {
  margin: 0;
  padding: 0;
}

.spinner-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
