<div class="container">
  <mat-card class="col-xl-8 col-md-8 offset-xl-2 offset-md-2">
    <h3 class="text-center">Register</h3>
    <form class="register-form" [formGroup]="registerForm" (submit)="onSubmitRegister()">
      <mat-form-field class="form-control">
        <input matInput
               type="email"
               placeholder="email"
               formControlName="email"
               name="email">
        <mat-error *ngIf="!registerForm.controls?.email.valid">Please enter a valid email</mat-error>
      </mat-form-field>
      <mat-form-field class="form-control">
        <input matInput
               type="password"
               placeholder="password"
               formControlName="password"
               name="password">
        <mat-error *ngIf="!registerForm.controls?.password.valid">Password must be at least 6 characters long</mat-error>
      </mat-form-field>
      <div class="text-center">
        <button class="btn btn-outline-primary register-btn" [disabled]="registerForm.invalid">Register</button>
        <button class="btn btn-outline-success register-btn" type="button">To login</button>
      </div>
    </form>
  </mat-card>
</div>
