<div class="container image-upload-container" *ngIf="isAuth">
  <mat-card class="col-xl-8 col-md-8 offset-xl-2 offset-md-2">
    <h3 class="text-center">Incarca imagini</h3>
    <form class="image-form" [formGroup]="uploadImageForm" (submit)="onUploadImage()">
      <input type="file"
             formControlName="image"
             name="image"
             (change)="onFileSelected($event)"
             multiple>
      <div class="text-center">
        <button class="btn btn-outline-success login-btn" [disabled]="uploadImageForm.invalid">Incarca imagine</button>
      </div>
    </form>
  </mat-card>
</div>

<section>
  <div class="wrapper">
    <div class="container text-center">
      <h3 class="photo-h">Galerie imagini</h3>
    </div>
    <div class="row reset-margin-padding">
      <div *ngFor="let image of images; let i=index;"
           class="col-xl-4 col-lg-4 col-md-4 col-sm-12 reset-margin-padding">
        <img [src]="image.path" [alt]="image.name" class="img-fluid">
        <button (click)="onRemoveImage(i, image._id)"
                class="btn btn-danger btn-position">
          <i class="fa fa-trash fa-2x"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
