<section class="images">
  <div class="row" style="margin: 0; padding: 0;">
    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-6 images-format">
      <img class="img-fluid" src="../../../../assets/images/carousel/one.jpeg" alt="First slide">
    </div>
    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-6 images-format">
      <img class="img-fluid" src="../../../../assets/images/carousel/two.jpeg" alt="First slide">
    </div>
    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-6 images-format">
      <img class="img-fluid" src="../../../../assets/images/carousel/three.jpeg" alt="First slide">
    </div>
    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-6 images-format">
      <img class="img-fluid" src="../../../../assets/images/carousel/one.jpeg" alt="First slide">
    </div>
    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-6 images-format">
      <img class="img-fluid" src="../../../../assets/images/carousel/two.jpeg" alt="First slide">
    </div>
    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-6 images-format">
      <img class="img-fluid" src="../../../../assets/images/carousel/three.jpeg" alt="First slide">
    </div>
  </div>
</section>
