<div class="entry-bg">
    <div class="entry-text_box">
        <h1 class="entry-text_box">
          <span class="entry-text_box--main entry-text_box--main_1">KIDS </span>
          <span class="entry-text_box--main entry-text_box--main_2">PARTY</span>
          <span class="entry-text_box--sub">KUNGFU</span>
        </h1>
    </div>
  <div class="entry-btn_box">
    <button class="entry-btn" (click)="onScroll()">
      <span><i class="fa fa-chevron-down"></i></span>
    </button>
  </div>
  <div class="entry-upBtn" id="upBtn">
    <button class="btn" (click)="scrollTop()">
      <span><i class="fa fa-chevron-up"></i></span>
    </button>
  </div>
</div>
