.entry-bg {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(119, 119, 119, 0.09), rgba(0, 0, 0, 0.5)), url("../../../../assets/images/home.jpeg");
  background-size: cover;
  background-position: top;
  position: relative;
}

.entry-text_box {
  position: absolute;
  width: 70%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.entry-text_box {
  display: block;
  letter-spacing: 20px;
  color: #fff;
}

.entry-text_box--main {
  font-size: 5rem;
  font-weight: 500;
  animation-name: fade-id-main;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

.entry-text_box--sub {
  display: block;
  letter-spacing: 1.6rem;
  font-size: 3.5rem;
  font-weight: 400;
  animation-name: fade-id-sub;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-timing-function: linear;
}

@keyframes fade-id-main {

  0% {
    opacity: 0;
  }

  25% {
    opacity: 25;
  }

  50% {
    opacity: 50;
  }

  100% {
    opacity: 100;
  }
}

@keyframes fade-id-sub {
  0% {
    opacity: 100;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 30;
  }

  100% {
    opacity: 100;
  }
}

.entry-btn_box {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.entry-btn {
  color: #fff;
  width: 75px;
  height: 75px;
  font-size: 1.3rem;
  border-radius: 100%;
  border: 1.5px solid #fff;
  background-color: transparent;
  animation: btn-fade 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes btn-fade {
  0% {
    opacity: 0;
  }

  20% {
    opacity: .3;
  }

  40% {
    opacity: .5;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: .5;
  }

  90% {
    opacity: .3;
  }

  100% {
    opacity: 0;
  }

}

.entry-upBtn {
  position: fixed;
  left: 85%;
  bottom: 10%;
  z-index: 100;
  animation: upScroll 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.entry-upBtn:hover {
  bottom: 20%;
}

.entry-upBtn > button {
  width: 60px;
  height: 60px;
  background-color: #009fdc;
  border-radius: 50%;
  color: #fff;
}

.entry-upBtn > button:hover {
  color: #fff;
  animation: upScroll;
  animation-play-state: paused;
}

@keyframes upScroll {
  0% {
    bottom: 10%;
  }

  10% {
    bottom: 11%;
  }
  20% {
    bottom: 12%;
  }

  30% {
    bottom: 13%;
  }
  40% {
    bottom: 14%;
  }

  50% {
    bottom: 15%;
  }
  60% {
    bottom: 14%;
  }

  70% {
    bottom: 13%;
  }

  80% {
    bottom: 12%;
  }

  90% {
    bottom: 11%;
  }

  100% {
    bottom: 10%;
  }

}

@media ( max-width: 1000px) {
  .entry-text_box--main {
    font-size: 4rem;
  }

  .entry-text_box--sub {
    font-size: 2.5rem;
  }
}

@media ( max-width: 640px) {
  .entry-text_box {
    width: 100%;
    margin-bottom: 0;
  }

  .entry-text_box--main {
    font-size: 3rem;
    letter-spacing: .5rem;
  }

  .entry-text_box--main_1 {
    padding-left: 1rem;
  }

  .entry-text_box--sub {
    font-size: 2rem;
    letter-spacing: .5rem;
  }

  .entry-upBtn {
    left: 80%;
  }
}
