<div class="entry-bg">
    <div class="entry-text_box">
        <h1 class="entry-text_box">
          <span class="entry-text_box--main">KIDS PARTY</span>
          <span class="entry-text_box--sub">KUNGFU</span>
        </h1>
    </div>
  <p id="para">Lorem ipsum dolor sit amet.</p>
  <div class="entry-btn_box">
    <button class="entry-btn" (click)="onScroll()">V</button>
  </div>
  <div class="entry-upBtn" id="upBtn">
    <button class="btn btn-outline-success" (click)="scrollTop()">^</button>
  </div>
</div>
