<header>
  <div class="header-logo">
    <a class="" routerLink="/">Playground</a>
  </div>
  <div class="ml-auto header-links">
    <ul class="form-inline">
      <li><a routerLink="/" class="header-link-btn">Acasa</a></li>
      <li><a routerLink="/galerie-foto" class="header-link-btn">Galerie foto</a></li>
      <li><a routerLink="/galerie-video" class="header-link-btn">Galerie video</a></li>
      <li><a routerLink="/contact" class="header-link-btn">Contact</a></li>
      <li *ngIf="this.authService.isAuth"><a routerLink="/app/login" class="header-link-btn">Login</a></li>
      <li *ngIf="this.authService.isAuth">
        <a class="header-link-btn"
           style="color: red; cursor: pointer"
           (click)="onLogout()">Logout</a>
      </li>
      <li *ngIf="this.authService.isAuth">
        <a routerLink="/app/register"
           class="header-link-btn"
           style="margin-left: 0.5rem">Register</a>
      </li>
    </ul>
  </div>
</header>
