.bg-custom {
  color: #777;
  background-image: linear-gradient(to right, #777 20%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 20px 10px;
  background-repeat: repeat-x;
}

.header-logo {
  align-self: center;
}

.header-logo > a {
  padding-left: 1rem;
  font-family: 'Butterfly Kids', cursive;
  font-weight: 500;
  font-size: 3rem;
  text-decoration: none;
  color: #676767;
}

.form-inline {
  margin-bottom: 0;
}

.form-inline > li {
  display: inline-block;
  list-style-type: none;
  margin-left: 12px;
  margin-right: 12px;
}

li > a {
  color: #676767;
  /*color: #009fdc;*/
  /*color: #0ed350;*/
  text-decoration: none;
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  font-weight: 400;
}

li > a:hover {

}

.header-link-btn:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  /*background: #77c7b6;*/
  background: #f40268 ;
  transition: width .5s;
}

.header-link-btn:hover::after {
  width: 100%;
  transition: width .5s;
}
