<div class="about-us about-us_container">
  <div class="col-xl-12">
    <div class="text-center">
      <h3 class="about-us_header">Bine ai venit la Kids party kungfu</h3>
    </div>
  </div>
  <div class="container">
    <p class="about-us_detail">
      Kiddo Play Academy este un loc de joacă educativ cu un concept unic și inovator.
      Creat special pentru copii, acestia își pot dezvolta abilitățile, talentele și cunoașterea exact așa cum le place
      lor – prin joacă și experiențe noi.
    </p>
  </div>

</div>
