<div class="about-us about-us_container">
  <div class="col-xl-12">
    <div class="text-center">
      <h3 class="about-us_header">Bine ai venit la Kids party kungfu</h3>
    </div>
  </div>
  <div class="container about-us_detail-container">
    <p class="about-us_detail">
      Kids Party KungFu este un loc de joacă unde distractia si buna dispozitie sunt la ele acasa.
      Saptamanal organizam diferite evenimente pentru copii in care acestia își pot dezvolta abilitățile, talentele și
      cunoașterea exact așa cum le place lor. Aleternativ pentru ziua copilului tau poti inchiria locatia in exclusivitate.
    </p>
  </div>

</div>
