<section>
    <div class="container" *ngIf="isAuth">
      <mat-card class="col-xl-8 col-md-8 offset-xl-2 offset-md-2">
        <h3 class="text-center">Incarca iFrame youtube</h3>
        <form class="register-form" [formGroup]="uploadMovieUrlForm" (submit)="onUploadMovieUrl()">
          <mat-form-field class="form-control">
            <input matInput
                   type="text"
                   placeholder="video url"
                   formControlName="url"
                   name="url"
                   (input)="onMovieUrlInserted($event)">
            <mat-error *ngIf="!uploadMovieUrlForm.controls?.url.valid">Please enter video url</mat-error>
          </mat-form-field>
          <div class="text-center">
            <button class="btn"
                    [ngClass]="{'btn-outline-primary': uploadMovieUrlForm.valid}"
                    [disabled]="uploadMovieUrlForm.invalid">Incarca video
            </button>
          </div>
        </form>
      </mat-card>
    </div>

    <div class="container text-center">
      <h3 class="video-h">Galerie video</h3>
      <div *ngIf="showSpinner"
           class="spinner-position">
        <mat-spinner [color]="'accent'"></mat-spinner>
      </div>

    </div>
    <div class="row reset-margin-padding">
      <div *ngFor="let video of videos; let i=index;"
           class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <iframe [src]='video.url | safe'
                width="100%"
                frameborder="5"
                class="img-fluid"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <button (click)="onRemoveBtnClick(i, video._id)"
                class="btn btn-danger btn-position"
                [disabled]="!isAuth"
                [ngClass]="{'hidden': !isAuth}">
          <i class="fa fa-trash fa-2x"></i>
        </button>
      </div>
    </div>

    <div class="dialog-background"
         [ngClass]="{'show' : isDisplayed, 'hidden' : !isDisplayed}">
      <div class="container dialog-center-vertical">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 offset-xl-3 offset-lg-3 offset-md-3">
          <mat-card class="example-card">
            <mat-card-header>
              <div class="text-center">
                <h4 class="my-h4">Doriti sa stertgeti acest film?</h4>
              </div>
            </mat-card-header>
            <div class="text-center">
              <mat-card-actions>
                <button mat-button [color]="'primary'" (click)="onDeleteVideo()">OK</button>
                <button mat-button [color]="'warn'" (click)="isDisplayed = false">CANCEL</button>
              </mat-card-actions>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
</section>

<!--<app-footer></app-footer>-->
